*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
--text-color: rgb(255, 255, 255);
--bg-url: url(./assets/assets/bg-mobile.jpg);
--border-link:rgba(255, 255, 255, 0.346);
--hover-border:white;
--hover-social:rgba(255, 255, 255, 0.2);
--switch-bg-url:url(./assets/assets/moon-stars.svg)
}
.light{
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --border-link:rgba(0, 0, 0, 0.5);
  --hover-border:rgba(0, 0, 0, 0.307);
  --hover-social:rgba(0, 0, 0, 0.5);
  --switch-bg-url:url(./assets/assets/sun.svg)
}
body{
  background: var(--bg-url) no-repeat top center/cover ;
}

body *{
  color: white;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--text-color);
}

#container{  
  width: 360px;
  height: 712px;
  margin: auto;
  padding-top:56px;
}

#profile{
  padding: 24px;
  text-align: center;
  
}

#profile img{
  width:112px ;
}

#profile p{
  margin-top: 8px;
  font-weight: bold;
  line-height: 24px;
}

#profile p a:hover{ 
  color: aqua;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: var(--switch-bg-url) no-repeat white center;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--hover-social);
  border: 1px solid var(--border-link);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#lista{
  padding: 24px;
  display: flex;
  justify-content: center;
  display: inline;
}

#lista ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#lista ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px var(--border-link);
  border-radius: 8px ;
  padding:16px 24px ;
  backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.2s;
}

#lista ul li a:hover{
  background: rgba(255, 255, 255, 0.05);
  border: solid 1.5px var(--hover-border);
}

#social-links{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

#social-links a:hover{
  background-color: var(--hover-social);
  border-radius: 50%;
  transition: background 0.2s;
}

footer{
  font-size: 14px;
  text-align: center;
  padding: 24px 24px 49px 24px;
}

footer a{
  text-decoration: underline;
}



